body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#F4F4F4;
    display: flex;
    flex-direction: column;
}
main {
    padding: 2rem;   
    flex-grow: 1;   
}
header{
    background-color: #4CAF50;
    color: white;
    text-align: center;
}
.cabecera-imagen{
    display: flex;
    justify-content: center;
    align-content: center;
}
.cabecera-imagen img{
    width: 100px;
    height: 100px;
    margin-right: 15px;
}
footer{
    background-color: #4CAF50;
    color: white;
    text-align: center;
    font-size: 0,9rem;
}
main h1 {
    text-align: center;
}
.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
}
.producto{
    border:2px solid #CCC;
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    align-items: center;
    background-color: #F9F9F9;
    
    /* Ahora para hacer la animación*/
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}   
.producto:hover {
  transform: scale(1.05); /* Escala al 105% */
  /* Opcional: puedes hacer la sombra más intensa al hover */
box-shadow: 0 12px 24px rgba(0,0,0,0.3);
}
.producto img{
    max-width: 75%;
    border-radius: 10px;
}
.producto h2{
    color: #333;
}
.descripcion{
color: #777;
}

.precio{
    color: #E74C3C;
    font-size: 1.25rem;
}

